
    <div ng-include="'views/student-left-sidebar.html'" ng-init="toTheTop(); getAllCompletedWebinar()"></div>
    <div class="col-lg-2 col-md-2 col-sm-2"></div>


                                      <!--Middle Content Main Content Visible to Student -->
              
    <div class="col-lg-10 col-md-10 col-sm-10" id="mma_student_middlecol">
      <h3>Completed Webinars</h3>
      <hr>
      <div class="tab-content">
                                    <!--Div For Showing Booked Webinars Data--> 
        <div class="col-lg-6 col-md-6 col-sm-6" style="margin-bottom:20px;" ng-repeat="(webinarId, webinar) in completedWebinar">
          <div class="col-lg-12"  id="upcoming_webinars_block" ng-if="showCompletedVideo[webinarId]!=='yes'">
            <h3>{{webinar.webinarTopic | titleCase}}</h3>
            <span class="tag">
              <img src="../images/completed-tag.png" alt="upcoming">
            </span>
            <p style="margin-bottom:0px; color:#444; font-size:12px; padding-left:10px;"><b>{{webinar.mentorName | titleCase}}</b></p>
            <div style="width:30%; padding:7px; float:left;">
              <img class="img-circle" src="{{webinar.mentorPhoto}}" style="height:80px; width:80px;"/>
            </div>
            <div style="width:70%; padding:7px; float:left;">
              <div style="text-align:center; width:100%; height:80px; border-radius:5px; color:white; background:#237dac;">
                  <div style="width:40%; padding:5px; font-weight:bold; float:left; font-size:24px;"><p style=" font-size:20px;">{{webinar.webinarDate.split(" ")[2]}}</p><p style=" font-size:16px;">{{webinar.webinarDate.split(" ")[1]}} {{webinar.webinarDate.split(" ")[0]}}</p></div>
                  <div style="width:55%; padding:5px; color:#fff; float:left;"><p style="font-size:20px;">{{webinar.webinarTime}}</p></div>
                  <br clear="all"/>
              </div>
            </div>
            <br clear="all"/>
            <div style="width:100%; height:140px; overflow:auto;">
                      {{webinar.webinarDescription}} 
            </div>
            <br clear="all"/>
            <button  type="button" class="btn btn-group btn-warning btn-sm" style="width:100%; margin-right:2%; float:left; font-size:14px;" ng-click="watchVedio(webinarId, webinar.liveStreamURL); trackEvent('Student DashBoard Webinar', 'completed Webinars', 'watched Video')"><i class="fa fa-youtube-play fa-lg"></i> Watch Video</button>
            <br clear="all">
          </div>
                                            <!-- Video div -->
          <div class="col-lg-12" id="upcoming_webinars_block" ng-if="showCompletedVideo[webinarId]=='yes'">
          <h3>{{webinar.webinarTopic | titleCase}}</h3>
            <span class="tag">
              <img src="../images/completed-tag.png" alt="upcoming">
            </span>
            <iframe style="width:100%; height:286px;" ng-src="{{trustSrc(videoURL[webinarId].src)}}" frameborder="0" allowfullscreen></iframe>
            <h4>{{trustSrc(videoURL.src)}}</h4>
            <button  type="button" class="btn btn-group btn-warning btn-sm" style="width:100%; margin-right:2%; float:left; font-size:14px;" ng-click="stopVedio(webinarId)"><i class="fa fa-youtube-play fa-lg"></i> Stop Video</button>
            <br clear="all">
          </div>
          
             <br clear="all">                         <!-- Video div Ends Here-->
        </div>
        <br clear="all"/>

      </div>

      <div id="loadmorebtn" style="text-align:center; width:100%; position:relative; padding:5px;">
          <button ng-if="hideLoadMore === 'no'" type="button" class="btn btn-primary" ng-click="loadMoreCompletedWebinars()">Load More</button>
      </div>
      <div ng-if="hideLoadMore === 'yes'" style="width:100%; background:#fbfbfb; border-radius:4px; border:1px solid #ccc; padding:5px;"><center><p style="margin:5px; font-size:16px;"><strong>No More Webinars to load.</strong></p></center></div>
                                        <!--Div For Showing Booked Webinars Data Ends HEre--> 
    </div>
                                              <!--Main Tab Div Ends here-->
  </div>