<!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '967254593338441');
    fbq('track', "PageView");
    fbq('track', 'CompleteRegistration');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=967254593338441&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->



<div class="col-lg-12" style="background:#fff">
	
    <br clear="all"/>
    <br/>
    <div class="container comp-signup">
    <div class="jumbotron">
        <h1>Welcome {{user.profile.studentname}}!</h1>
        <p class="lead">Thank you for registering with My Mission Admission.<span ng-if="user.profile.emailverificationstatus === 'false'"> A verification email has been sent to - <span style="color:green">{{user.profile.email}}</span>. Please click on the verification link to verify your email. Verifying your email will make you eligible for My Scholarship Fund.</p></span>

        <span ng-if="user.profile.emailverificationstatus === 'true'"> Your email (<span style="color:green">{{user.profile.email}}</span>) has been verified. You are eligible for My Scholarship Fund.</p></span>
        <p><a class="btn btn-lg btn-success" href="#/dashboard" role="button" style="margin-bottom:5px;"><i class="fa fa-tachometer"></i> Go To Dashboard</a>
        <a class="btn btn-lg btn-success" href="#/student-fund" role="button" style="margin-bottom:5px;"><i class="fa fa-inr"></i> My Scholarship Fund</a>
        <a class="btn btn-lg btn-success" href="#/student-college-search" role="button" style="margin-bottom:5px;"><i class="fa fa-search"></i> Search Colleges</a></p>
      </div>







</div>
</div>