<style>
#house-all {
    margin: 0px;
    padding: 20px;
    margin-bottom: 20px;
    background: #237dac;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
}
.summary_content p a{
  color:#111;
}
.summary_content p a:hover {
  color:#fbfbfb;
}
.summary_content a{
  color:#fff;
}
.summary_content p a:hover {
  color:#fbfbfb;
}
.featured_image a{
  color:#fff;
}
.featured_image a:hover {
  color:#fbfbfb;
}
</style>
      <div ng-include="'views/student-left-sidebar.html'" ng-init="toTheTop(); getAllPosts()"></div>
      <div class="col-lg-2 col-md-2 col-sm-2"></div>

                        <!--Middle Content Main Content Visible to Student -->
            <div class="col-lg-10 col-md-10 col-sm-10" id="mma_student_middlecol" ng-init="toTheTop()">
            <h1 style="padding-left:25px;">Houses</h1>
            <hr/>
               <div class="col-lg-6" ng-click="trackEvent('Student Houses', 'Houses', 'Engineering')">
                  
                     <a href="#/house/engineering"><div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
                      <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
                        <i class="fa fa-gears fa-5x" style="font-size: 8em;"></i>

                        <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
                      </div>
                      
                            <!--Feature Image Div Ends here-->
                            <!--Summary Content -->
                      <div class="summary_content">
                        <h2 style="margin-top:0px;">Engineering</h2>
                        <p>It’s a dedicated branch of science and technology concerned with the design, building, and use of engines, machines, and structures...read more</p>
                      </div>
                      <br clear="all"/> 
                    </div></a>
                                
                            <br clear="all"/> 
                
                </div>
                
              <div class="col-lg-6" ng-click="trackEvent('Student Houses', 'Houses', 'Medical')">
                  
                  <a href="#/house/medical">  <div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
          <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
           <i class="fa fa-heartbeat fa-5x" style="font-size: 8em;"></i>

            <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
          </div>
          
                <!--Feature Image Div Ends here-->
                <!--Summary Content -->
          <div class="summary_content">
            <h2 style="margin-top:0px;">Medical</h2>
            <p>Professionals who work in the medical stream are known as medical practitioners. They diagnose the physical and mental ...read more</p>
          </div>
          <br clear="all"/> 
        </div></a>
                    
                <br clear="all"/> 
                
                </div>
                
                
                
                
               <div class="col-lg-6" ng-click="trackEvent('Student Houses', 'Houses', 'Hospitality')">
                  
                <a href="#/house/hospitality">    <div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
          <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
           <i class="fa fa-cutlery fa-5x" style="font-size: 8em;"></i>

            <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
          </div>
          
                <!--Feature Image Div Ends here-->
                <!--Summary Content -->
          <div class="summary_content">
            <h2 style="margin-top:0px;">Hospitality</h2>
            <p>The hospitality industry is a part of service industry that includes lodging, event planning, theme parks, transportation ...read more</p>
          </div>
          <br clear="all"/> 
        </div></a>
                    
                <br clear="all"/> 
                
                </div>
                
                
                <div class="col-lg-6" ng-click="trackEvent('Student Houses', 'Houses', 'Design & Fashion')">
                  
                <a href="#/house/design & fashion">    <div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
          <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
           <span class="glyphicon glyphicon-sunglasses" style="font-size: 8em;" aria-hidden="true"></span>

            <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
          </div>
          
                <!--Feature Image Div Ends here-->
                <!--Summary Content -->
          <div class="summary_content">
            <h2 style="margin-top:0px;">Design & Fashion</h2>
            <p>Designing is a field for artistic and creative prowess people who have an interest in creation and design of objects or systems...read more</p>
          </div>
          <br clear="all"/> 
        </div></a>
                    
                <br clear="all"/> 
                
                </div>
                
                
                <div class="col-lg-6" ng-click="trackEvent('Student Houses', 'Houses', 'Finance & Commerce')">
                <a href="#/house/finance & commerce">   
                    <div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
          <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
          <i class="fa fa-rupee fa-5x" style="font-size: 8em;"></i>

            <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
          </div>
          
                <!--Feature Image Div Ends here-->
                <!--Summary Content -->
          <div class="summary_content">
            <h2 style="margin-top:0px;">Finance & Commerce</h2>
            <p>Finance and commerce professionals work as accountants, auditors, economists, analysts, managers, etc. in banks or other companies. Graduates may pursue career ...read more</p>
          </div>
          <br clear="all"/> 
        </div>
                    </a>
                <br clear="all"/> 
                
                </div>
                
                
                <div class="col-lg-6" ng-click="trackEvent('Student Houses', 'Houses', 'Architecture')">
                  
           <a href="#/house/architecture">          <div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
          <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
          <i class="fa fa-building fa-5x" style="font-size: 8em;"></i>

            <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
          </div>
          
                <!--Feature Image Div Ends here-->
                <!--Summary Content -->
          <div class="summary_content">
            <h2 style="margin-top:0px;">Architecture</h2>
            <p>Architecture is a dedicated field of art, science and business of building on the basis of social trends, business sense, understanding of building, science and the law..read more</p>
          </div>
          <br clear="all"/> 
        </div></a>
                    
                <br clear="all"/> 
                
                </div>
               
                
                <div class="col-lg-6"  ng-click="trackEvent('Student Houses', 'Houses', 'Angreasy')">
                  
                   <a href="#/house/AngrEasy">  <div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
                    <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
                     <i class="fa fa-language fa-5x" style="font-size: 8em;"></i>
                      <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
                    </div>
                    
                          <!--Feature Image Div Ends here-->
                          <!--Summary Content -->
                    <div class="summary_content">
                      <h2 style="margin-top:0px;">Angreasy</h2>
                      <p>Angreasy (English) is a house dedicated to the student who aspires to begin their career in English. Students who want to pursue career in English, have wide range..read more</p>
                    </div>
                    <br clear="all"/> 
                  </div></a>
                              
                          <br clear="all"/> 
                
                </div>
                
                
                
                <div class="col-lg-6" ng-click="trackEvent('Student Houses', 'Houses', 'Media-journalism')">
                  
            <a href="#/house/media-journalism">    <div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
          <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
          <i class="fa fa-video-camera fa-5x" style="font-size: 8em;"></i>
            <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
          </div>
          
                <!--Feature Image Div Ends here-->
                <!--Summary Content -->
          <div class="summary_content">
            <h2 style="margin-top:0px;">Media-journalism</h2>
            <p>Media focuses to reach masses through every broadcasting and narrowcasting medium such as newspapers, magazines, TV, radio, billboards, direct mail...read more</p>
          </div>
          <br clear="all"/> 
        </div>
                   </a>
                <br clear="all"/> 
                
                </div>



                <div class="col-lg-6" ng-click="trackEvent('Student Houses', 'Houses', 'Fine Arts')">
                  
            <a href="#/house/Fine Arts">    <div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
          <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
          <i class="fa fa-video-camera fa-5x" style="font-size: 8em;"></i>
            <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
          </div>
          
                <!--Feature Image Div Ends here-->
                <!--Summary Content -->
          <div class="summary_content">
            <h2 style="margin-top:0px;">Fine Arts</h2>
            <p>Fine-Arts is an art for aesthetics. It is for students who have an eye for beauty and are creative in their thinking and execution. It includes various...read more</p>
          </div>
          <br clear="all"/> 
        </div>
                   </a>
                <br clear="all"/> 
                
                </div>


                <div class="col-lg-6" ng-click="trackEvent('Student Houses', 'Houses', 'Others')">
                  
            <a href="#/house/others">    <div class="col-lg-12 col-md-12 col-sm-12" id="house-all">
          <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
          <i class="fa fa-video-camera fa-5x" style="font-size: 8em;"></i>
            <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
          </div>
          
                <!--Feature Image Div Ends here-->
                <!--Summary Content -->
          <div class="summary_content">
            <h2 style="margin-top:0px;">Others</h2>
            <p>There are courses beyond engineering, medicine, and commerce/finance. This house is for all the students who look for something more beyond...read more</p>
          </div>
          <br clear="all"/> 
        </div>
                   </a>
                <br clear="all"/> 
                
                </div>
                
                
                
            
            
            </div>
      
            <!--Middle Content Main Content Visible to Student -->

<br clear="all">


