<div class="container-fluid wrapper" ng-init="getLocationDefaultNavBar();">

  
    
    <!--IMAGE AND REGISTATION PART-->
    <div class="col-sm-12 content-prt">
    
      <div class="col-sm-9 home-img">
          <div class="col-sm-12">
          <div class="intro-modal intro-modal_position intro-modal_style" >
            <div class="row intro-head headd" style="margin-top:0;">
              <center class="mson">MY MISSION ADMISSION</center>
              
            </div>
            <div class="row intro-subhead subheadd">
              <center style="font-weight:bold; font-size:20px;">Our Mission : Your Admission</center>
              <center>Your Gateway To a Dream College</center>
                <center>Fund Your Education / Free Applications / Full Scholarships</center>
            </div>
          </div>
          <img src="images/hback.png" class="img-responsive"/>
          </div>
            <div class="col-sm-12 where-what">
              <div class="col-sm-5 where-study">
                <div class="form-group">
                    <select ng-model="stateToView" ng-change="stateSelected()" class="form-control" id="sel1" ng-options="k as v for (k, v) in states">
                      <option value="">{{dropdownMessage}}</option>
                    </select>
                </div>
              </div>
                <div class="col-sm-5 where-study">
                  <div class="form-group">
                      <select ng-model="courseToView" ng-change="courseSelected()" class="form-control" id="sel1" ng-options="k as v for (k, v) in courses"> 
                          <option value="">{{dropdownMessageCourses}}</option>
                      </select>
                  </div>
                </div>
                <div class="col-sm-2" ng-click="trackEvent('Homepage Search', 'Searched College From Homepage', 'Search Button')">
                  <a ng-href="#/search" class="btn btn-primary srch" style="font-family: 'Roboto Condensed', sans-serif;">Search Colleges <i class="fa fa-search fa-lg"></i></a>
                  <!-- <button type="submit" class="btn btn-primary srch"><span class="glyphicon glyphicon-search"></span></button> -->
                </div>
            </div>
        </div>
        <!--WEBINAR PART-->
        <div class="col-sm-9 webinar-img">
          <div class="col-sm-12">
          <div class="intro-modal intro-modal_position intro-modal_style webnr" >
            <div class="row intro-head headd">
              <center>Attend Interactive Knowledge Sessions With Career Experts & professionals to discover & explore best career options.</center>
            </div>
            <div class="row intro-subhead subheadd" style="font-size:35px; font-weight:bold;">
        <center>WEBINARS</center>
            </div>
          </div>
            <img src="images/web.png" class="img-responsive"/>
          </div>
          
            <div class="col-sm-12">
                <div class="col-sm-6 upcome-webinar">
                  <a ng-click="trackEvent('Homepage Webinar Section', 'Viewed Upcoming Webinars', 'Upcoming Webinar Button')" href="#/student-webinar-detail" class="up-web">Upcoming Webinars <span class="glyphicon glyphicon-open"></span></a>
                  <a ng-click="trackEvent('Homepage Webinar Section', 'Viewed Completed Webinars', 'Completed Webinar Button')" href="#/all-completed-webinars" class="complete-webinar">Completed Webinars <span class="glyphicon glyphicon-saved"></span></a>
                </div>
            </div>
        </div>
       <!--END WEBINAR PART--> 
       <!--SCHOLARSHIP PART-->
        <div class="col-sm-9 scholarship-img">
          <div class="col-sm-12">
          <a href="#/student-fund" ng-click="trackEvent('Homepage MSF Section', 'Viewed MSF', 'MSF Image/Link')" >
          <div class="intro-modal intro-modal_position intro-modal_style schlrsp" >
            <div class="row intro-head headd">
              <center>Fund your Higher Education through<span style="display:block"> MY SCHOLARSHIP FUND</span></center>
            </div>
            <div class="row intro-subhead subheadd">
              <center>Self-finance your studies through<br/>$ Cash Back on Application Forms<br/>$ Student Referrals<br/>$ Learning & Earning</center>
            </div>
          </div>
          </a>
            <img src="images/scholarship.png" class="img-responsive"/>
          </div>
        </div>
        <!--END SCHOLARSHIP PART-->
        
         <!--VIDEO COUNSELLING PART-->
        <div class="col-sm-9 videocuns-img">
          <div class="col-sm-12">
          <div class="intro-modal intro-modal_position intro-modal_style videoc" >
            <div class="row intro-head headd">
              <center>Interact One on One with any college of your choice to learn about best Careers, Courses & Colleges through. </center>
            </div>
            <div class="row intro-subhead subheadd vdo-c" style="font-size:35px; font-weight:bold;">
              <center>Video Counselling Sessions</center>
            </div>
          </div>
            <img src="images/vid.png" class="img-responsive"/>
          </div>
          <div class="col-sm-12 where-what">
              <div class="col-sm-5 where-study">
                <div class="form-group">
                    <select ng-model="stateToView" ng-change="stateSelected()" class="form-control" id="sel1" ng-options="k as v for (k, v) in states">
                      <option value="">{{dropdownMessage}}</option>
                    </select>
                </div>
              </div>
                <div class="col-sm-5 where-study">
                  <div class="form-group">
                      <select ng-model="courseToView" ng-change="courseSelected()" class="form-control" id="sel1" ng-options="k as v for (k, v) in courses"> 
                          <option value="">{{dropdownMessageCourses}}</option>
                      </select>
                  </div>
                </div>
                <div class="col-sm-2" ng-click="trackEvent('Homepage Video Counselling Section', 'College Searched After Visiting Homepage Video Counselling Section', 'College Search Button (MSF)')">
                  <a ng-href="#/search" class="btn btn-primary srch" style="font-family: 'Roboto Condensed', sans-serif;">Search Colleges &nbsp;<i class="fa fa-search fa-lg"></i></a>
                  <!-- <button type="submit" class="btn btn-primary srch"><span class="glyphicon glyphicon-search"></span></button> -->
                </div>
            </div>
        </div>
        <!--END VIDEO COUNSELLING PART-->

        
         <!--HOUSES PART-->
       <div class="houses-img">
       <div class="mobile-house">
          <h2>Career Houses <span class="glyphicon glyphicon-home"></span></h2>
       </div>
        <div class="col-sm-2 houses-link">
            <ul>
                <li><a href="#/category/engineering" ng-click="trackEvent('Homepage Houses', 'Engineering House Button Clicked', 'Engineering Button')">Engineering</a></li>
                <li><a href="#/category/hospitality" ng-click="trackEvent('Homepage Houses', 'Hospitality House Button Clicked', 'Hospitality Button')">Hospitality</a></li>
                <li><a href="#/category/medical" ng-click="trackEvent('Homepage Houses', 'Medical House Button Clicked', 'Medical Button')">Medical</a></li>
                <li><a href="##/category/design & fashion" ng-click="trackEvent('Homepage Houses', 'Design & Fashion House Button Clicked', 'Design & Fashion Button')">Design & Fashion</a></li>
                <li><a href="#/category/finance & commerce" ng-click="trackEvent('Homepage Houses', 'Finance & Commerce House Button Clicked', 'Finance & Commerce Button')">Finance & Commerce</a></li>
                <li><a href="#/category/architecture" ng-click="trackEvent('Homepage Houses', 'Architecture House Button Clicked', 'Architecture Button')">Architecture</a></li>
                <li><a href="#/category/AngrEasy" ng-click="trackEvent('Homepage Houses', 'AngrEasy House Button Clicked', 'AngrEasy Button')">AngrEasy</a></li>
                <li><a href="#/category/media-journalism" ng-click="trackEvent('Homepage Houses', 'Media-Journalism House Button Clicked', 'Media-Journalism Button')">Media-Journalism</a></li>
                <li><a href="#/category/Fine Arts" ng-click="trackEvent('Homepage Houses', 'Fine Arts House Button Clicked', 'Fine Arts Button')">Fine Arts</a></li>
                <li><a href="#/category/others" ng-click="trackEvent('Homepage Houses', 'Others House Button Clicked', 'Others Button')">Others</a></li>

            </ul>
        </div>  
        <div class="col-sm-7 houses-img">
          <div class="col-sm-12">
          <div class="intro-modal intro-modal_position intro-modal_style husesesion" >
            <div class="row intro-head headd">
              <center>Follow experts and their Blogs and build your career roadmap <br>We Call them</center>
            </div>
            <div class="row intro-subhead subheadd" style="font-size:35px; font-weight:bold;">
        <center>Houses</center>
            </div>
          </div>
            <img src="images/houses.png" class="img-responsive"/>
          </div>
        </div>
        </div>
        <!--END HOUSES PART-->


        
        <div class="col-md-3 signup-reg" ng-hide="signedIn()">
        <form name="signup"  ng-submit="register(user.studentname,user.email,user.password,user.studentmobile,user.gender)">
          <span class="glyphicon glyphicon-remove-sign close-sign"></span>
          <p class="sgn-up-text">Sign Up With</p>
            <div class="col-sm-6 fb-container">
              <button type="submit" class="btn btn-primary fb-fb" ng-click="loginusingfb(); trackEvent('Homepage Login Button', 'Facebook Login Button Clicked', 'Facebook Login Button');"><span class="glyphicon glyphicon-send"></span> Facebook</button>
            </div>
            <div class="col-sm-6 gp-container">
              <button type="submit" class="btn btn-danger gp-gp" ng-click="loginusinggoogle(); trackEvent('Homepage Login Button', 'Google Login Button Clicked', 'Google Login Button');">Google+ <span class="glyphicon glyphicon-send"></span></button>
            </div>
            <p class="sgn-up-text">OR</p>
            
            <div class="input-group-container">
              <div class="input-group input-group-lg">
               <span class="login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-user"></span>
               <input type="text" ng-model="user.studentname"required oninvalid="this.setCustomValidity('Name could not be blank')" oninput="this.setCustomValidity('')" class="login-inputgroup_style form-control" placeholder="Student Name">
              </div>
            </div>
            
            <div class="input-group-container">
              <div class="input-group input-group-lg">
               <span class="login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-envelope"></span>
               <input name="email" type="email" ng-model="user.email" required oninvalid="this.setCustomValidity('Please enter a valid Email Address')" oninput="this.setCustomValidity('')" ng-keydown="clearall()" title='Enter in format abcdef@email.com' class="login-inputgroup_style form-control" id="signupemail" placeholder="Email Address">
               <p style="margin:1.5px; color:red; font-size: 14px" ng-if="error === 'The specified email address is already in use.'">Someone's already using that email. If that’s you please sign in to proceed.</p>
              </div>
            </div>
            
            <div class="input-group-container">
              <div class="input-group input-group-lg">
               <span class="login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-lock"></span>
               <input name="password" type="password" required oninvalid="this.setCustomValidity('Password cannot be blank')" oninput="this.setCustomValidity('')" ng-model="user.password" class="login-inputgroup_style form-control" placeholder="Create Password">
              </div>
            </div>
            
            <div class="input-group-container">
              <div class="input-group input-group-lg">
               <span class="login-inputgroup_style input-group-addon _glyphicon glyphicon glyphicon-phone"></span>
               <input type="tel" ng-model="user.studentmobile" required pattern="[0-9]{3}-?[0-9]{6,12}$" maxlength=15 title="Phone number must be atleast 9 digits long"oninput="this.setCustomValidity('')" class="login-inputgroup_style form-control" placeholder="Mobile Number">
              </div>
            </div>
            <div class="col-sm-12 gendr" ng-init="user.gender='Male'">
              <div class="col-sm-6"> <h4 style="text-align:left; margin-left:1em"> <input type="radio" value= "Male" ng-model="user.gender" name="name" required title="Please Select your Gender"> &nbsp; Male </h4> </div>
            
              <div class="col-sm-6"> <h4 style="text-align:left; margin-left:1em" > <input type="radio" value="Female" name="name" ng-model="user.gender" required title="Please Select your Gender" > &nbsp; Female </h4>        </div>
            </div>
             <div class="input-group-container term-pri">
             <p style="font-size: 14px;">By Clicking Register,you agree to the My Mission Admission <a href="#/about?tab=terms" target="_blank"> Terms of Services </a> and <a href='#/about?tab=privacy' target="_blank"> Privacy Policy </a></p> 
             </div>
            <button class="btn btn-lg btn-primary btn-block btn-login_style reg-btn" ng-click="trackEvent('Homepage Registration Button', 'Register Button Clicked', 'Register Button')" type="submit" ng-disabled="submitbuttondisabled">Register</button>
            </form>
    </div>
    
    
    <div class="col-md-3 booking-sesson" ng-show="signedIn()">
        <p>
          Book Your Free Career Counselling Session With<font color="#666666"> My Mission Admission</font> Career Expert 
        </p>
        <img src="../images/boy.png" class="img-responsive"/>
        <a href="#/college-profile/b377a489-f051-45a3-b6de-959c1e01ffd4"><button class="btn btn-success" ng-click="trackEvent('Homepage Book Free Counselling Button', 'Book Free Counselling Session Button Clicked', 'Book Free Counselling Session Button')">BOOK NOW</button></a>
    </div>     
    </div>
    
    
    <!--END IMAGE AND REGISTATION PART-->
    
    <!--FOUR BOXES-->
    
  <div class="col-sm-12 boxes">
      <ul class="four-boexs">
            <li><a id="video-counseling-btn" class="btn1-colr" ng-click="trackEvent('Homepage Section Button', 'Video Counselling Button Clicked', 'Video Counselling Button')">Video Counselling Sessions</a></li>
            <li><a id="web-btn" class="btn2-colr" ng-click="trackEvent('Homepage Section Button', 'Webinar Button Clicked', 'Webinar Button')">Webinars</a></li>
            <li><a id="houses-btn" class="btn3-colr" ng-click="trackEvent('Homepage Section Button', 'Houses Button Clicked', 'Houses Button')">Career Houses</a></li>
            <li><a id="scholarship-fund" class="btn4-colr" ng-click="trackEvent('Homepage Section Button', 'MSF Button Clicked', 'MSF Button')">My Scholarship Fund</a></li>
        </ul>
    </div>   
    
    <!--END FOUR BOXES-->
</div>


 
<script type="text/javascript">
  $("#web-btn").click(function(){
    $(".home-img").hide();
    $(".scholarship-img").hide();
    $(".videocuns-img").hide();
    $(".houses-img").hide();
  });
  $("#web-btn").click(function(){
    $(".wrapper").css("background-color","#67809F");
    $(".sgn-up-text").css("color","#67809F");
    $(".webinar-img").show();
  });
  
  $("#scholarship-fund").click(function(){
    $(".home-img").hide();
    $(".webinar-img").hide();
    $(".videocuns-img").hide();
    $(".houses-img").hide();
  });
  $("#scholarship-fund").click(function(){
    $(".wrapper").css("background-color","#e64f1a");
    $(".sgn-up-text").css("color","#e64f1a");
    $(".scholarship-img").show();
  });
  
  $("#video-counseling-btn").click(function(){
    $(".home-img").hide();
    $(".webinar-img").hide();
    $(".scholarship-img").hide();
    $(".houses-img").hide();
  });
  $("#video-counseling-btn").click(function(){
    $(".wrapper").css("background-color","#4ECDC4");
    $(".sgn-up-text").css("color","#4ECDC4");
    $(".videocuns-img").show();
  });
  
  $("#houses-btn").click(function(){
    $(".home-img").hide();
    $(".webinar-img").hide();
    $(".scholarship-img").hide();
    $(".videocuns-img").hide();
  });
  $("#houses-btn").click(function(){
    $(".wrapper").css("background-color","#3a9ecc");
    $(".sgn-up-text").css("color","#3a9ecc");
    $(".houses-img").show();
  });

  //BUTTONS BACKGROUND COLOR
  $(".btn1-colr").click(function(){
     $('.btn2-colr, .btn3-colr, .btn4-colr').css({background: "white",color: "#000",border:"1px solid #000"});
     $('.btn1-colr').css({background: "none",color: "#fff",border:"1px solid #fff",outline:"none"});
     });
     
  $(".btn2-colr").click(function(){
     $('.btn1-colr, .btn3-colr, .btn4-colr').css({background: "white",color: "#000",border:"1px solid #000"});
     $('.btn2-colr').css({background: "none",color: "#fff",border:"1px solid #fff",outline:"none"});
     });
     
  $(".btn3-colr").click(function(){
     $('.btn1-colr, .btn2-colr, .btn4-colr').css({background: "white",color: "#000",border:"1px solid #000"});
     $('.btn3-colr').css({background: "none",color: "#fff",border:"1px solid #fff",outline:"none"});
     });
  $(".btn4-colr").click(function(){
     $('.btn1-colr, .btn3-colr, .btn2-colr').css({background: "white",color: "#000",border:"1px solid #000"});
     $('.btn4-colr').css({background: "none",color: "#fff",border:"1px solid #fff",outline:"none"});
     });
  $(".close-sign").click(function(){
    $(".signup-reg").hide();
    });
  
  $(".mobile-house").click(function(){
        $(".houses-link").slideToggle("slow");
    });
</script>

