<br clear="all">
<!--Main content  Div -->
  <div class="row" id="main-page">
  <!--left Sidebar Starts Here-->
    <div class="col-lg-2 col-md-2 col-sm-2" id="mma_student_sidebar" ng-controller="StudentDashCtrl" ng-init="checkUrlForCollapseAndActiveClass()">
      <div class="nav-side-menu">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
          <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
              <img ng-if="!signedIn()" ng-src="https://assets.shareclarity.com/images/user-icon.jpeg" class="img-responsive" alt="Guest User">
              <a href="#/student-profile"><img ng-if="signedIn()"  ng-src="{{ user.profile.studentphoto }}" class="img-responsive" alt=""></a>
            </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div ng-if="!signedIn()" class="profile-usertitle-name">
                    Guest User
                </div>
                <div ng-if="signedIn()">
                    <a class="profile-usertitle-name" href="#/student-profile" ng-click="trackEvent('Student LeftSideBar', 'StudentProfile', 'edit student profile')">{{ user.profile.studentname }}</a>
                </div>
                <div ng-if="signedIn()">
                    <a ng-click="trackEvent('Student LeftSideBar', 'StudentProfile', 'edit student profile')" class="profile-usertitle-job" href="#/student-profile">{{ user.profile.email }}</a>
                </div>
            </div>
          </div>
            <ul id="menu-content" class="menu-content collapse out">
              <li class="{{dashboard}}">
                <a href="#/dashboard">
                <div style="width:100%; height:100%; position:relative;"><i class="fa fa-dashboard fa-lg"></i> Dashboard</div>
                </a>
              </li>
              <li class="{{studentcollegesearch}}">
                <a href="#/student-college-search">
                <div style="width:100%; height:100%; position:relative;">
                <i class="fa fa-search fa-lg"></i> Search Colleges</div>
                </a>
              </li>
              <li class="{{studentcounselling}}">
                <a href="#/student-counselling-center">
                <div style="width:100%; height:100%; position:relative;">
                <i class="fa fa-graduation-cap"></i> My Counselling Center</div>
                </a>
              </li>
              <li class="{{studentfund}}">
                <a href="#/student-fund">
                <div style="width:100%; height:100%; position:relative;">
                <i class="fa fa-inr fa-lg"></i>My Scholarship Fund</div>
                </a>
              </li>
              <!-- <ul class="sub-menu collapse" id="products">
                <li><a href="#">Counselling Sessions</a></li>
                <li><a href="#"> Webinars</a></li>
              </ul> -->

              <li  data-toggle="collapse" data-target="#webinar" class="collapsed">
                <a><div style="width:100%; height:100%; position:relative;"><i class="fa fa-youtube-play fa-lg"></i> Webinars <span class="arrow"></span></div></a>
              </li>
               
              <ul class="sub-menu {{checkWebinarCollapse}}" id="webinar">
                  <li class="{{studentwebinardetail}}"><a href="#/student-webinar-detail"><div style="width:100%; height:100%; position:relative;">&nbsp; &nbsp; Upcoming Webinars</div></a></li>
                  <li class="{{completedwebinars}}"><a href="#/all-completed-webinars"><div style="width:100%; height:100%; position:relative;">&nbsp; &nbsp; Completed Webinars</div></a></li>
              </ul>
                                                
                                                <!-- houses for loggedIn user -->
              <li data-toggle="collapse" data-target="#serviceForSignedInUser" class="collapsed" ng-show="signedIn()">
                <a href="#/house"><div style="width:100%; height:100%; position:relative;"><i class="fa fa-home fa-lg"></i> Houses <span class="arrow"></span></div></a>
              </li>  

              <ul class="sub-menu {{checkHouseCollapse}}" id="serviceForSignedInUser" ng-show="signedIn()">
                <li class="{{engineering}}"><i class="fa fa-gears" id="houseicon"></i><a href="#/house/engineering"><div style="width:100%; height:100%; position:relative;">Engineering</div></a></li>
                <li class="{{medical}}"><i class="fa fa-heartbeat" id="houseicon"></i><a href="#/house/medical"><div style="width:100%; height:100%; position:relative;">Medical</div></a></li>
                <li class="{{hospitality}}"><i class="fa fa-cutlery" id="houseicon"></i><a href="#/house/hospitality"><div style="width:100%; height:100%; position:relative;">Hospitality</div></a></li>
                <li class="{{fashion}}"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true" id="houseicon"></span><a href="#/house/design & fashion"><div style="width:100%; height:100%; position:relative;">Design & Fashion</div></a></li>
                <li class="{{finance}}"><i class="fa fa-rupee" id="houseicon"></i><a href="#/house/finance & commerce"><div style="width:100%; height:100%; position:relative;">Finance & Commerce</div></a></li>
                <li class="{{architecture}}"><i class="fa fa-building" id="houseicon"></i><a href="#/house/architecture"><div style="width:100%; height:100%; position:relative;">Architecture</div></a></li>
                <li class="{{AngrEasy}}"><i class="fa fa-language" id="houseicon"></i><a href="#/house/AngrEasy"><div style="width:100%; height:100%; position:relative;">AngrEasy</div></a></li>
                <li class="{{journalism}}"><i class="fa fa-video-camera"  id="houseicon"></i><a href="#/house/media-journalism"><div style="width:100%; height:100%; position:relative;">Media & Journalism</div></a></li>
                <li class="{{fineArts}}"><i class="fa fa-leaf"  id="houseicon"></i><a href="#/house/Fine Arts"><div style="width:100%; height:100%; position:relative;">Fine Arts</div></a></li>
                <li class="{{others}}"><i class="fa fa-cloud-download"  id="houseicon"></i><a href="#/house/others"><div style="width:100%; height:100%; position:relative;">Others</div></a></li>
              </ul>
                                                <!-- houses for loggedIn user -->

                                                
                                                <!-- houses for guest user -->
              <li data-toggle="collapse" data-target="#serviceForGuestUser" class="collapsed" ng-show="!signedIn()">
                <a><div style="width:100%; height:100%; position:relative;"><i class="fa fa-home fa-lg"></i> Houses <span class="arrow"></span></div></a>
              </li>

              <ul class="sub-menu {{checkHouseCollapse}}" id="serviceForGuestUser" ng-show="!signedIn()">
                <li class="{{engineering}}"><i class="fa fa-gears" id="houseicon"></i><a href="#/category/engineering"><div style="width:100%; height:100%; position:relative;">Engineering</div></a></li>
                <li class="{{medical}}"><i class="fa fa-heartbeat" id="houseicon"></i><a href="#/category/medical"><div style="width:100%; height:100%; position:relative;">Medical</div></a></li>
                <li class="{{hospitality}}"><i class="fa fa-cutlery" id="houseicon"></i><a href="#/category/hospitality"><div style="width:100%; height:100%; position:relative;">Hospitality</div></a></li>
                <li class="{{fashion}}"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true" id="houseicon"></span><a href="#/category/design & fashion"><div style="width:100%; height:100%; position:relative;">Design & Fashion</div></a></li>
                <li class="{{finance}}"><i class="fa fa-rupee" id="houseicon"></i><a href="#/category/finance & commerce"><div style="width:100%; height:100%; position:relative;">Finance & Commerce</div></a></li>
                <li class="{{architecture}}"><i class="fa fa-building" id="houseicon"></i><a href="#/category/architecture"><div style="width:100%; height:100%; position:relative;">Architecture</div></a></li>
                <li class="{{AngrEasy}}"><i class="fa fa-language" id="houseicon"></i><a href="#/category/AngrEasy"><div style="width:100%; height:100%; position:relative;">AngrEasy</div></a></li>
                <li class="{{journalism}}"><i class="fa fa-video-camera"  id="houseicon"></i><a href="#/category/media-journalism"><div style="width:100%; height:100%; position:relative;">Media & Journalism</div></a></li>
                <li class="{{fineArts}}"><i class="fa fa-leaf"  id="houseicon"></i><a href="#/category/Fine Arts"><div style="width:100%; height:100%; position:relative;">Fine Arts</div></a></li>
                <li class="{{others}}"><i class="fa fa-cloud-download"  id="houseicon"></i><a href="#/category/others"><div style="width:100%; height:100%; position:relative;">Others</div></a></li>
              </ul>
                                                <!-- houses for guest user -->

              <br clear="all"/>
              <br/>
            </ul>
            <br clear="all"/>
          </div>
        </div>
      </div>
    </div>
            <!--left Sidebar Ends Here-->