<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){
          js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js,fjs);
      }
  }(document, 'script', 'twitter-wjs');
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>


<style type="text/css"> #twitter-widget-0 {position: relative !important; margin-bottom: -6px;} #___plus_0 { margin-bottom: -5px; !important;}
  .half{width: 49%; float: left;}
  .noborder {border-radius:0px;}
</style>

<div ng-include="'views/student-left-sidebar.html'" ng-init="toTheTop(); getHouseProfile(); getHousePosts(); getHouseMentors()"></div>
<div class="col-lg-2 col-md-2 col-sm-2"></div>

                      <!--Middle Content Main Content Visible to Student -->
<div class="col-lg-7 col-md-7 col-sm-7" id="mma_student_middlecol" ng-init="toTheTop()">
  <hr>
              <!--House Profile-->
  <div class="col-lg-12 col-md-12 col-sm-12" id="mma_house_profile">
    <div class="featured_image" ng-if="houseDetail.$id  !== 'design & fashion'">
      <i class="{{houseDetail.logo}}" style="font-size: 8em;"></i>

      <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
    </div>
    <div class="featured_image" ng-if="houseDetail.$id  === 'design & fashion'">
      <span class="glyphicon glyphicon-sunglasses" style="font-size: 8em;" aria-hidden="true"></span>
      <!-- <img src="{{houseDetail.logo}}" class="img-responsive" style="width:100px; height:100px"/> -->
    </div>
          <!--Feature Image Div Ends here-->
          <!--Summary Content -->
    <div class="summary_content">
      <h2 style="margin-top:0px;">{{houseDetail.$id | titleCase}}</h2>
      <p>{{houseDetail.description}}</p>
    </div>
  </div>
              <!--House profile Ends here-->
              
              <!--Post Summary Structure-->
  <div class="col-lg-12 col-md-12 col-sm-12" id="mma_post_summary" ng-repeat="(postId, postData) in post" ng-show="postData.postStatus==='verified'">
    <div class="col-lg-12" ng-init="loadPostComments(postData.postId,postId)">
      <header style="margin-bottom:20px;">
       <a href="{{postData.sharingUrl}}" style="cursor:pointer" title="View full post">  <h3>{{postData.postTitle}}</h3> </a>
        <p class="row" id="post_meta">
          <span style="float:left;">By <a href="#/author-profile/{{postData.mentoruid}}" title="View Mentor's Detail" style="cursor:pointer">{{postData.mentorname | titleCase}}</a> | <a href="#/view-monthly-post/{{postData.postDate}}" title="View posts of this month">{{postData.postDate | convert}}</a></span>
          <span style="float:right;">{{totalComments[postId]}} Comments</span>
          <br clear="all">
        </p>
      </header>
      <div class="entry_summary">
          <!--Feature Image Div-->
        <a href="{{postData.sharingUrl}}" style="cursor:pointer" title="View full post"> 
          <div class="featured_image">
            <img src="{{postData.featuredImage}}" class="img-responsive"/>
          </div> 
        </a>
          <!--Feature Image Div Ends here-->
          <!--Summary Content -->
        <div class="summary_content">
          <p>{{postData.shortDescription}} <a href="{{postData.sharingUrl}}" style="cursor:pointer" title="View full post">Read More »</a></p>
        </div>
          <!--Summary Content Ends here-->    
        <br clear="all"/> 
      </div>
      <br clear="all"/>
                <!--social sharer buttons-->
      <div class="col-sm-12 sharebar1" ng-if="signedIn()">
        <div class="col-sm-6 col-xs-4 ddd">
          <button type="button" class="btn btn-default shr fa fa-share" style="margin-left:15px;" ng-click="displaySharerButtons(postId)"> Share</button>
          <div class="row" id="sharebar{{postId}}">
            <div class="fb-share-button" data-href="{{postData.sharingUrl}}" data-layout="button_count"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="My Mission Admission">Tweet</a>
            <div style="width:95px; float:left;">
                <div class="g-plus"  data-action="share" data-annotation="bubble" data-height="24"></div>
            </div>
          </div>
        </div>
        <!--<div class="col-lg-6 col-sm-6 btnss">
            <p> <a href="#">Like</a> &nbsp;<b>&middot;</b>&nbsp;<a class="commentButton{{postId}}" ng-click="displayCommentSection(postId); setFocusOnCommentBox(postId)">Comment</a></p>
        </div>-->
      </div>
    </div>
  <!--social sharer buttons ends here-->

    <div class="col-sm-12 commnt-part{{postId}}" style="display:none;">
      <div class="col-sm-12 write-cmnt">
        <div class="detailBox">
          <div class="col-sm-12 old-new-cmnt" ng-if="totalComments[postId] > 0">
            <a class="loadMoreCommentsDiv" ng-if="hideLoadMoreButton[postId] !== 'yes'" ng-click="loadMoreComments(postData.postId,postId)">View Previous Comments</a>
            <a class="loadMoreCommentsDiv" ng-if="hideLoadMoreButton[postId] === 'yes'"> All {{totalComments[postId]}} comments loaded</a>
          </div>
          <div id="showCommentsDiv" class="col-lg-12" ng-repeat ="(commentId,commentData) in comments[postId]">
            <div id="commenterImg" ng-init="getNumberOfLikesOnThisComment(postData.postId,commentData.commentId)">
              <img src="{{userPic[postData.postId][commentData.commentId].$value}}" class="commenterImgC{{commentId}}P{{postId}}" style="height:32px;"/>
            </div>
            <div style="width:95%; padding-left:5px; height:auto; float:left">
              <p class="originalCommentDataC{{commentId}}P{{postId}}"><a href="javascrip:void(0);"><b>{{userName[postData.postId][commentData.commentId].$value}}</b></a>&nbsp; {{commentData.comment}}</p>
              <p class="originalCommentToolsC{{commentId}}P{{postId}}">
                <a ng-click="likeThisComment(commentData.commentId,postData.postId)">Like</a>
                <a href="javascript:void(0);" ng-if="user.profile.$id===commentData.userId" ng-click="initializeCommentEditing(commentId,postId)">&nbsp;&middot;&nbsp;Edit &nbsp;&middot;&nbsp;</a>
                <!-- <a href="javascript:void(0);" ng-if="user.profile.$id===commentData.userId">Delete &nbsp;&nbsp;&nbsp;</a> -->
                <a><i class="fa fa-thumbs-up"></i>&nbsp;{{numberOfLikesOnThisComment[postData.postId][commentData.commentId]}}&nbsp;&middot;&nbsp;</a>
                <span class="date sub-text">{{commentData.date | convert}}</span>
              </p>
              <div id="editCommentsDiv" class="col-lg-12 editCommentsDivC{{commentId}}P{{postId}}">
                <form class="form-inline" role="form">
                  <img src="{{userPic[postData.postId][commentData.commentId].$value}}" id="editCommentImg" class="editCommentImgC{{commentId}}P{{postId}}"/>
                  <input type="text" class="form-control editCommentBoxC{{commentId}}P{{postId}}" id="editCommentBox" ng-model="commentData.comment" placeholder="Write your comment here.."/>
                  <button type="submit" class="btn btn-group btn-primary btn-md editCommentButtonC{{commentId}}P{{postId}}" id="editCommentButton" ng-click="editPostComment(postData.postId,commentData.comment,postId,commentId,commentData.commentId)">Submit</button>
                </form>
              </div>
            </div>
          </div>
          <div id="commentsDiv" class="col-lg-12">
            <form role="form">
              <img src="{{user.profile.studentphoto}}" id="commentImg" class="commentImg{{postId}}"/>
              <input type="text" class="form-control commentBox{{postId}}" id="commentBox" ng-model="PostComments[postId]" placeholder="Write your comment here.."/>
              <button type="submit" class="btn btn-group btn-primary btn-md commentButton{{postId}}" id="commentButton" ng-click="addHousePostComment(postData.postId,PostComments[postId],postId)">Submit</button> 
              <h5 style="color:red">{{commentSubmitError[postId]}}</h5>
            </form>
          </div>
          <br clear="all"/> 
          <br clear="all"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <button ng-if="hideLoadMore === 'no'" type="button" class="btn btn-default"  ng-click="load_more_posts()"  style=" width: 30%; margin-left: 35%; margin-bottom:5%;">Load More</button>
  </div>
</div>
                <!--Post Summary Structure-->


        <!--Middle Content Main Content Visible to Student -->
<div ng-include="'views/student-right-sidebar.html'"></div>
<br clear="all">

